.navbar-container {
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

/* .site-brand {
    color: black;
} */