.hero-containe {
  box-sizing: border-box;
}
.hero-container {
  background-image: url(https://images4.alphacoders.com/114/1144863.jpg);
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  /* box-sizing: border-box; */
}

.her-row-contianer {
  justify-content: space-between;
}

.profile-on-hero {
  min-height: 10vh;
  width: 20vw;
  border-radius: 50%;
}
